@model IEnumerable<Shipping.Models.NhanVien>

@{
	ViewData["Title"] = "Quản lý nhân viên";
	int index = 1;
}

<h1 class="text-center">Danh sách nhân viên</h1>

<a asp-action="Create" class="btn btn-primary">Thêm nhân viên mới</a>

<hr />

<table class="table table-bordered table-striped table-hover">
	<thead class="table-dark justify-content-center">
		<tr class="text-center">
			<th>
				#
			</th>
			<th class="col-1">
				Ảnh đại diện
			</th>
			<th class="col-2">
				Họ tên
			</th>
			<th class="col-1">
				CCCD
			</th>
			<th class="col-1">
				SDT
			</th>
			<th class="col-1">
				Chức vụ
			</th>
			<th class="col-3">
				Chi nhánh
			</th>
			<th class="">
				Tác vụ
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="align-middle text-center">
				<td>
					<b>@(index++)</b>
				</td>
				<td>
					@if (!string.IsNullOrEmpty(item.HinhAnh))
					{
						<img src="../images/avatar/nhanvien/@Html.DisplayFor(modelItem => item.HinhAnh)"
							 alt="Ảnh đại diện"
							 style="max-height: 100px; object-fit: cover;"
							 class="avatar" />
					}
					else
					{
						<img src="../images/avatar/default_image.jpg"
							 alt="Ảnh đại diện"
							 style="max-height: 100px; object-fit: cover;"
							 class="avatar" />
					}
				</td>
				<td class="text-start">
					@Html.DisplayFor(modelItem => item.Ten)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CCCD)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.PhoneNumber)
				</td>
				<td>
					@{
						var roleConfirm = item.IsQuanLy ? "Bạn có chắc chắn muốn hạ quyền hạn của nhân viên này không?"
						: "Bạn có chắc chắn muốn nâng quyền hạn của nhân viên này không?";
						var roleBadge = item.IsQuanLy ? "btn btn-success" : "btn btn-warning text-dark";
						var roleText = item.IsQuanLy ? "Quản lý" : "Nhân viên";
					}
					<form asp-action="ThayDoiQuyenHan" asp-route-id="@item.Id" method="post" class="d-inline"
						  onsubmit="return confirm('@roleConfirm');">
						<button class="badge @roleBadge">@roleText</button>
					</form>
				</td>
				@if (item.ChiNhanh != null)
				{
					<td>
						@Html.DisplayFor(modelItem => item.ChiNhanh.TenChiNhanh)
					</td>
				}
				else
				{
					<td>Không thuộc chi nhánh nào</td>
				}
				<td>
					<a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a> &nbsp;
					<a class="btn btn-sm btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> &nbsp;
					<a class="btn btn-sm btn-outline-danger" asp-action="DeleteConfirm" asp-route-id="@item.Id"
					   onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?');">Xóa</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			var images = document.querySelectorAll('.avatar')
			images.forEach(function(img)
			{
				var error_src = "../images/avatar/default_image.jpg";
				img.onerror = function()
				{
					img.onerror = null;
					if(error_src)
					{
						img.src = error_src;
					}
				};
			});
		});
	</script>
}