@model IEnumerable<Shipping.Models.Shipper>

@{
    ViewData["Title"] = "Quản lý shipper";
    int index = 1;
}


<h1 class="text-center">Danh sách shipper</h1>

<a asp-action="Create" class="btn btn-primary">Thêm shipper mới</a>
<hr />

<table class="table table-bordered">
    <thead class="table-dark justify-content-center">
        <tr class="text-center">
            <th>
                #
            </th>
            <th class="col-1">
                Ảnh đại diện
            </th>
            <th class="col-2">
                Họ tên
            </th>
            <th class="col-1">
                SDT
            </th>
            <th class="col-1">
                Loại
            </th>
            <th>
                Trạng thái
            </th>
            <th class="col-3">
                Chi nhánh
            </th>
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle text-center">
                <td>
                    <b>@(index++)</b>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.HinhAnh))
                    {
                        <img src="/images/avatar/shipper/@Html.DisplayFor(modelItem => item.HinhAnh)"
                             alt="Ảnh đại diện"
                             style="max-height: 100px; object-fit: cover;"
                             class="avatar" />
                    }
                    else
                    {
                        <img src="../images/avatar/default_image.jpg"
                             alt="Ảnh đại diện"
                             style="max-height: 100px; object-fit: cover;"
                             class="avatar" />
                    }
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
                <td>
                    @(item.LoaiShipper == Shipping.Models.Enums.LoaiShipper.GiaoHang ? "Giao hàng" : "Vận chuyển")
                </td>
                <td>
                    @{
                        var trangThai = "";
                        var stateBadge = "";
                        switch (item.TrangThai)
                        {
                            case Shipping.Models.Enums.TrangThaiShipper.SanSang:
                                trangThai = "Sẵn sàng";
                                stateBadge = "bg-success";
                                break;
                            case Shipping.Models.Enums.TrangThaiShipper.Ban:
                                trangThai = "Bận";
                                stateBadge = "bg-warning text-black";
                                break;
                            default:
                                trangThai = "Nghỉ";
                                stateBadge = "bg-danger text-white";
                                break;
                        }
                    }
                    <span class="badge @stateBadge">@trangThai</span>
                </td>
                @if (item.ChiNhanh != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ChiNhanh.TenChiNhanh)
                    </td>
                }
                else
                {
                    <td>Không thuộc chi nhánh nào</td>
                }
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a> &nbsp;
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> &nbsp;
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Bạn có chắc chắn muốn xóa shipper này không?');">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
